{% extends "agendador/base.html" %}

{% block header %}
<h1>{{ data_atual }}</h1>
{%endblock header%}

{% block content %}

<table>
    <tr>
        <th>Sala</th>
        <th>Capacidade</th>
        <th>Recursos</th>
        <th>Localização</th>
    </tr>
    {% for sala in salas %}
    <tr>
        <th>{{sala.nome}}</th>
        <th>{{sala.capacidade}}</th>
        <th>{{sala.recursos}}</th>
        <th>{{sala.localização}}</th>
        <th>
            <a href="{% url 'agendar' sala.id %}">Agendar</a>
        </th>
    </tr>
    {% endfor %}
</table>

{% endblock content %}