#hoverable{
  display:inline-block;
  backface-visibility: hidden;
  vertical-align: middle;
  position:relative;
  box-shadow: 0 0 1px rgba(0,0,0,0);
  transform: translateZ(0);
  transition-duration: .3s;
  transition-property:transform;
}

#hoverable:hover, #hoverable:active, #hoverable:focus{
  transform: translateY(-5px);
}
#hoverable:hover:before, #hoverable:active:before, #hoverable:focus:before{
  opacity: 1;
  transform: translateY(-5px);
}

nav{
  text-transform: uppercase;
}